<!--left navigation start-->
<div class="navigation" [ngClass]="{'active': isSideBarActive}">
  <div class="logo" [ngClass]="{'active': isSideBarActive}">
    <a routerLink="/layout/dashboard" class="nav-link">
      <!-- <span><img src="images/allstateHR1.png" alt="logo" class="img-fluid"> </span> -->
      <legend class="" style="color: #3226ae; font-size: 4vh;"><b>OPM</b></legend>
    </a>
  </div>
  <div class="logo2" [ngClass]="{'active': isSideBarActive}">
    <a routerLink="/layout/dashboard" class="nav-link">
      <legend class="" style="color: #3226ae; font-size: 4vh;"><b> O </b></legend>
    </a>
  </div>
  <ul class="navbar-nav">
    <li class="list" *ngFor="let item of nav" [ngClass]="{'active': item.selected}" (click)="selectNav(item)">
      <b></b>
      <b></b>
      <a class="nav-link" aria-current="page" routerLink={{item.path}}>
        <span class="icon"> <i [ngClass]="item.icon"></i> </span>
        <span [ngClass]="{'hid': isSideBarActive,'title': !isSideBarActive}">{{item.name}}</span>
      </a>
    </li>
    <li class="list nav-item">
      <b></b>
      <b></b>
      <a class="nav-link" *ngIf="isuserlogin" routerLink="/login" (click)="userlogout()" tabindex="-1">
        <span class="icon"> <i class="bi bi-credit-card-2-front"></i></span>
        <span class="title">Log Out</span>
      </a>
    </li>

    <!--  <li class="list nav-item">
      <b></b>
      <b></b>
      <a class="nav-link" routerLink="/layout/project" routerLinkActive="active">
        <span class="icon"> <i class="bi bi-columns-gap"></i></span>
        <span class="title">Project</span>
      </a>
    </li>

    <li class="list nav-item">
      <b></b>
      <b></b>
      <a class="nav-link" routerLink="/layout/create" routerLinkActive="active">
        <span class="icon"> <i class="bi bi-receipt"></i></span>
        <span class="title">Create</span>
      </a>
    </li>
    <li class="list nav-item">
      <b></b>
      <b></b>
      <a class="nav-link" *ngIf="isuserlogin" routerLink="/login" (click)="userlogout()" tabindex="-1">
        <span class="icon"> <i class="bi bi-credit-card-2-front"></i></span>
        <span class="title">Log Out</span>
      </a>
    </li> -->
  </ul>
</div>

<!--left navigation end-->
<!-- top navigation for mobile start-->
<div ng-controller="CollapseDemoCtrl" id="mobnav">
  <nav class=" navbar-default mobnav" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed"
        style="top: 15px; left: 5px;">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a href="#">
          <span><img src="#" alt="logo" class="img-fluid"> </span>
        </a>
      </div>
    </div>
    <div class="navbar-collapse " uib-collapse="isNavCollapsed">
      <ul style="margin-left: 0px; margin-right: 30px;">
        <li class="mobnavli">
          <a href="#" class="nav-link">
            <span class="icon"> <i class="bi bi-speedometer2"></i> </span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li class="mobnavli" ng-click="isCollapsed = !isCollapsed">
          <a class="nav-link" href="#">
            <span class="icon"> <i class="bi bi-columns-gap"></i></span>
            <span class="title">Master</span>
            <span class="aro">&rsaquo;</span>
          </a>
          <ul uib-collapse="isCollapsed">
            <li><a class="nav-link" href="#">Dashboard</a></li>
            <li><a class="nav-link" href="#">Another action</a></li>
            <li><a class="nav-link" href="#">Something else here</a></li>
            <li><a class="nav-link" href="#">Separated link</a></li>
          </ul>
        </li>

        <li class="mobnavli" ng-click="isCollapse = !isCollapse">
          <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span class="icon"> <i class="bi bi-receipt"></i></span>
            <span class="title">Transaction</span>
            <span class="aro">&rsaquo;</span>
          </a>
          <ul uib-collapse="isCollapse">
            <li><a class="nav-link" href="#">Dashboard</a></li>
            <li><a class="nav-link" href="#">Another action</a></li>
            <li><a class="nav-link" href="#">Something else here</a></li>
            <li><a class="nav-link" href="#">Separated link</a></li>
          </ul>
        </li>

        <li class="mobnavli" ng-click="isCollaps = !isCollaps">
          <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span class="icon"> <i class="bi bi-credit-card-2-front"></i></span>
            <span class="title">Gate Pass</span>
            <span class="aro">&rsaquo;</span>
          </a>
          <ul uib-collapse="isCollaps">
            <li><a class="nav-link" href="#">Dashboard</a></li>
            <li><a class="nav-link" href="#">Another action</a></li>
            <li><a class="nav-link" href="#">Something else here</a></li>
            <li><a class="nav-link" href="#">Separated link</a></li>
          </ul>
        </li>

        <li class="mobnavli" ng-click="isCollap = !isCollap">
          <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <span class="icon"> <i class="bi bi-file-earmark-ruled"></i></span>
            <span class="title">BYOD</span>
            <span class="aro">&rsaquo;</span>
          </a>
          <ul uib-collapse="isCollap">
            <li><a class="nav-link" href="#">Dashboard</a></li>
            <li><a class="nav-link" href="#">Another action</a></li>
            <li><a class="nav-link" href="#">Something else here</a></li>
            <li><a class="nav-link" href="#">Separated link</a></li>
          </ul>
        </li>

        <li class="mobnavli" ng-click="isColla = !isColla">
          <a class="nav-link" href="#">
            <span class="icon"><i class="bi bi-journal-bookmark-fill"></i></span>
            <span class="title">Report</span>
            <span class="aro">&rsaquo;</span>
          </a>
          <ul uib-collapse="isColla">
            <li><a class="nav-link" href="#">Dashboard</a></li>
            <li><a class="nav-link" href="#">Another action</a></li>
            <li><a class="nav-link" href="#">Something else here</a></li>
            <li><a class="nav-link" href="#">Separated link</a></li>
          </ul>
        </li>

        <li class="mobnavli" ng-click="isColl = !isColl">
          <a class="nav-link" href="#">
            <span class="icon"><i class="bi bi-person-check-fill"></i></span>
            <span class="title">Profile</span>
            <span class="aro">&rsaquo;</span>
          </a>
          <ul uib-collapse="isColl">
            <li><a class="nav-link" href="#">Dashboard</a></li>
            <li><a class="nav-link" href="#">Another action</a></li>
            <li><a class="nav-link" href="#">Something else here</a></li>
            <li><a class="nav-link" href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- top navigation for mobile end-->

<!-- user bar start -->
<nav class="navbar user-nav">
  <div class="user-profile" [ngClass]="{'active': isSideBarActive}">
    <div class="d-flex">
      <div id="navtoggle">
        <i class="bi bi-border-width closee" (click)="togglesideBar()"></i>
      </div>
      <!-- <div class="d-flex">
        <input class="me-2" type="search" placeholder="Search" aria-label="Search">
        <i class="bi bi-search"></i>
      </div> -->
    </div>
    <div style="margin-left: auto;">
      <i class="bi bi-bell-fill"></i>
    </div>
    <div class="user-drop">

      <div class="user-pic" onclick="userprofile();">
        <img src="#" alt="userImage">
      </div>

      <div class="user-menu">
        <h3>
          john <br>
          <span>Developer</span>
        </h3>
        <ul>
          <li><a href="#"><i class="bi bi-person-check-fill"></i>proflie</a></li>
          <li><a href="#"><i class="bi bi-pencil-fill"></i>edit proflie</a></li>
          <li><a href="#"><i class="bi bi-gear-fill"></i>setting</a></li>
          <li><a href="#"><i class="bi bi-box-arrow-left"></i>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- user bar end -->

<!-- home_page start -->
<div class="home_page" [ngClass]="{'active': isSideBarActive}">
  <router-outlet></router-outlet>
</div>